.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:auto;
    background: linear-gradient(0deg, rgb(247, 247, 247) 40%, rgb(250, 11, 11) 41%);
}